<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578817083399-t6lkfvn33vpbqldcs2oatvmj1gbbfn7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578817083399-t6lkfvn33vpbqldcs2oatvmj1gbbfn7s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>578817083399-8u84juvbnaaa26sehicrj2f17618sute.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZOay-kecL6UWvAmvfd3ZHFgnBHyiGAJM</string>
	<key>GCM_SENDER_ID</key>
	<string>578817083399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ajubaCustomer</string>
	<key>PROJECT_ID</key>
	<string>ajuba-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>ajuba-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578817083399:ios:a7ee29b31479637fae02a2</string>
</dict>
</plist>